.highlights {
    height: 50px;
    background-color: #F3F3F3;
    font-weight: 600;
    align-items: center;
    display: flex;
}

.latest {
    height: 30px;
    /* margin-top: 15px; */
    margin-left: 16px;
    width: 100px;
    text-align: center;
    background-color: #D72050;
    color: #fff;
}

